<h1>Burger Time</h1>


<div class="container">

  <div id="notEatenList">
    <h2>Eat Me!</h2>
    <br>
    <ul>
      {{#each burgers}} {{#unless devoured}}
      <li>
        <div>

          <button type="submit" class="btn btn-info" id="notEaten"> {{this.burger_name}}</button>

        </div>
      </li>
      {{/unless}} {{/each}}
    </ul>
  </div>


  <div id="eatenList">
    <h2>Aleardy Eaten</h2>
    <br>
    <ul>
      {{#each burgers}} {{#if devoured}}
      <li>
        <div>
          <form>
            <button class="btn btn-info" id="eaten"> {{this.burger_name}}</button>
          </form>
        </div>
      </li>
      {{/if}} {{/each}}
    </ul>
  </div>

  <div id="createNewBurger">
    <h2>Make a New Burger</h2>
    <br>
    <form action="/" method="POST">
      <input id="burgerInput" type="text" name="burger_name" placeholder="What kind of burger?">
      <br>
      <button class="btn btn-info" type="submit">Create a Burger!</button>
    </form>
  </div>
</div>

<footer id="footer"></footer>
