<div class="jumbotron">
  <div class="logoDiv">
    <img src="/assets/images/eatBurger.png" class="logo">
  </div>
  <h1>Burger Time</h1>
  
</div>


<div class="container contentArea">

  <h3>PRESS THE BURGER YOU WOULD LIKE TO EAT!</h3>

  <div class="col-md-3" id="notEatenList">
    <h2>Eat Me!</h2>
    <br>
    <ul>
      {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block}} {{/unless}} {{/each}}
    </ul>

  </div>


  <div class="col-md-3" id="eatenList">
    <h2>Already Eaten</h2>
    <br>
    <ul>
      {{#each burgers}} {{#if devoured}} {{> burgers/burger-block }} {{/if}} {{/each}}
    </ul>

  </div>

  <div class="col-md-3" id="createNewBurger">
    <h2>Make a New Burger</h2>
    <br>
    <form class="create-form">
      <div class="form-group">
        <input id="burgerInput" type="text" name="name" placeholder="What kind of burger?">
        <br>
        <button class="btn btn-warning" type="submit" id="createBurger">Create a Burger!</button>
      </div>
    </form>
  </div>
</div>

<footer id="footer"></footer>